*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 15px;
    margin: 20px 0px
}

.btn:hover {
    border-color: orangered;
    border-width: thick;
}

/* Top buttons for highscores and timer */

.row {
    width: 800px;
    max-width: 100%;
    border-radius: 15px;
    padding: 10px;
    align-content: center;
    margin: auto;
    margin-bottom: 60px;
    
}

/* This correlates to the bottom buttons bar */

#colors {
   
    width: 800px;
    max-width: 100%;
    border-radius: 15px;
    padding: 10px;
    align-content: center;
    margin: auto;
    margin-top: 100px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hide {
    display: none;
}

#codingQuiz {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#question {
    font-size: x-large;
    color: midnightblue;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 25px;
}

.btn-dark {
    padding: 10px 20px;
    font-size: 20px;
}

#timer.btn {
    text-align: right;
}